saves/
wandb/
data/body_signal_of_smoking/data.csv
data/body_signal_of_smoking/data_processed.csv
data/cifar10/cifar10.npz
data/household_power/household_power_consumption/txt
venv/
venv_dp/
artifacts/
federation/__pycache__/
federation/client/__pycache__/
federation/server/__pycache__/
__pycache__/
client/__pycache__/
server/__pycache__/
attacks/exports_mia/
attacks/exports_recon/
attacks/artifacts/
attacks/metrics.csv
attacks/mia_results.csv
attacks/recon_results.csv
attacks/server_log.txt
server_log.txt
metrics.csv
notebooks/.ipynb_checkpoints
results/
config/attack_selection_summary.csv